In [2]:
number = 100
square = number * number
print("the square of {} is {}".format(number,square))

the square of 100 is 10000

In [4]:
print(f"the square of {} is {}")

SyntaxError: f-string: valid expression required before '}' (1655623298.py, line 1)

In [6]:
num = eval(input("Enter a Number:"))
square = num * num
print("the square of {} is {}".format(num,square))

Enter a Number: 5

the square of 5 is 25

In [7]:
import random
number = random.randint(1,100)
square = number * number
print("the square of {} is {}".format(number,square))

the square of 22 is 484

In [9]:
eval(input())

 2222

2222

In [14]:
distance = eval(input("Enter a distance"))
rate = eval(input("Enter a rate"))
total=distance * rate
print("for {} km the charge is {}".format(distance,total))

Enter a distance 20
Enter a rate 2

for 20 km the charge is 40

In [15]:
bill = eval(input("Enter a bill in dollars"))
conversion = eval(input("One dollar equal to"))
total_amount = bill * conversion
print(total_amount)

Enter a bill in dollars 100
One dollar equal to 80

8000

In [18]:
Father = "Which course you want to do"
son = "I want to pursue DS course"
Father = "oh! That is very nice"
Father =  "May i know your JEE rank"
rank = eval(input("Enter a rank:"))
Father="then how can you pursue"
seat = input("seat:")
father ="Which college is offer"
colege= input("college name:")
father="How much is the fee"
fee = eval(input("Enter a fee:"))
father="How many sem"
sem=eval(input("sem:"))
father = "How much cost"
son = sem * fee
print("total college fee is {}".format(son))

Enter a rank: 200000
seat: Payment
college name: Naresh it
Enter a fee: 20000
sem: 4

total college fee is 80000